<!-- contact section design -->
<section class="contact" id="contact">
    <h2 class="heading">Contact <span>Me!</span><span class="animate scroll" style="--i:1;"></span></h2>

    <form action="{{actionUrl}}" method="{{httpMethod}}">
        <div class="input-box">
            <div class="input-field">
                <input type="name" name="name" placeholder="Full Name" autocomplete="off" required>
                <span class="focus"></span>
            </div>
            <div class="input-field">
                <input type="email" name="email" placeholder="Email Address" autocomplete="off" required>
                <span class="focus"></span>
            </div>

            <span class="animate scroll" style="--i:3;"></span>
        </div>

        <div class="input-box">
            <div class="input-field">
                <input type="number" name="number" placeholder="Mobile Number" autocomplete="off" required>
                <span class="focus"></span>
            </div>
            <div class="input-field">
                <input type="text" name="text" placeholder="Email Subject" autocomplete="off" required>
                <span class="focus"></span>
            </div>

            <span class="animate scroll" style="--i:5;"></span>
        </div>

        <div class="textarea-field">
            <textarea name="message" id="" cols="30" rows="10" placeholder="Your Message goes here!!!" 
            autocomplete="off"  required></textarea>
            <span class="focus"></span>

            <span class="animate scroll" style="--i:7;"></span>
        </div>

        <div class="btn-box btn">
            <button type="submit" name="submit" class="btn" style="cursor: pointer;">Submit</button>
            <!-- <button type="submit" class="btn">Send</button> -->

            <span class="animate scroll" style="--i:9;"></span>
        </div>
    </form>
</section>
