 <!-- about section design -->
 <section class="about" id="about">
    <h2 class="heading">About <span>Me</span><span class="animate scroll" style="--i:1;"></span></h2>

    <div class="about-img">
        <img src="../../../assets/images/Aman.jpg" alt="about img">
        <span class="circle-spin"></span>
        <span class="animate scroll" style="--i:2;"></span>
    </div>

    <div class="about-content">
        <h3>{{jobTitle}} <span class="animate scroll" style="--i:3;"></span></h3>
        <p>
            {{aboutUser}}

            <span class="animate scroll" style="--i:4;"></span>
        </p>

        <div class="btn-box btns">
            <a href="{{cvUrl}}" target="_blank" class="btn">{{downloadCV}}</a>
            <span class="animate scroll" style="--i:5;"></span>

        </div>
    </div>
</section>