<!-- home section design -->
<section class="home show-animate" id="home">
    <div class="home-content">
        <h1>Hi, I'm <span>{{username}}</span><span class="animate" style="--i:2;"></span></h1>
        <div class="text-animate">
            <h3>{{jobTitle}}</h3>
            <span class="animate" style="--i:3;"></span>
        </div>
        <p>
            {{aboutUser}}
            <span class="animate" style="--i:4;"></span>
        </p>
        <div class="btn-box">
            <a href="../../../assets/images/Aman_Job_CV.pdf" target="_blank" class="btn">{{hireMe}}</a>
            <a href="https://wa.me/8806611821?text=I'm%20inquiring%20about%20your%20job%20profile" target="_blank"
                class="btn">{{LetsTalk}}</a>
            <span class="animate" style="--i:5;"></span>
        </div>
    </div>

    <div class="home-sci">
        <a
            href="https://www.facebook.com/people/Aman-Patel/pfbid02DuKVFtBfgEAY8ceoc4N33KP2Nj43r4zkbsiFjkDL683GVzZqjVEnYnDRxbXevwfol/?mibextid=ZbWKwL"><i
                class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/aman_o_f_f_i_c_i_a_l/"><i class="bx bxl-instagram"></i></a>
        <a href="https://www.linkedin.com/in/amanpatel2529"><i class="bx bxl-linkedin"></i></a>
        <span class="animate" style="--i:6;"></span>
    </div>
    <div class="home-imgHover"></div>
    <span class="animate home-img" style="--i:7;"></span>
</section>

<!-- <section class="home show-animate" id="home">
    <h1>Welcome to My Portfolio</h1>
   
    <div class="home-content">
        <h1>Hi, I'm <span>Aman Patel</span><span class="animate" style="--i:2;"></span></h1>
        <div class="text-animate">
            <h3>Angular Developer</h3>
            <span class="animate" style="--i:3;"></span>
        </div>
        <p>
            I'm a software engineer with a passion for building user-friendly and scalable web applications. I love
            working with Angular because it allows me to create complex and dynamic applications with ease. I'm also
            a big fan of TypeScript, which makes my code more robust and maintainable.
            <span class="animate" style="--i:4;"></span>
        </p>
        <div class="btn-box">
            <a href="images/amanpatel.resume.pdf" target="_blank" class="btn">Hire Me</a>
            <a href="https://wa.me/8806611821?text=I'm%20inquiring%20about%20your%20job%20profile" target="_blank" class="btn">Let's Talk</a>
            <span class="animate" style="--i:5;"></span>
        </div>
    </div>

    <div class="home-sci">
        <a
            href="https://www.facebook.com/people/Aman-Patel/pfbid02DuKVFtBfgEAY8ceoc4N33KP2Nj43r4zkbsiFjkDL683GVzZqjVEnYnDRxbXevwfol/?mibextid=ZbWKwL"><i
                class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/aman_o_f_f_i_c_i_a_l/"><i class="bx bxl-instagram"></i></a>
        <a href="https://www.linkedin.com/in/aman-patel-6a223723a/?original_referer=https%3A%2F%2Fsit.acm.org%2F"><i
                class="bx bxl-linkedin"></i></a>
        <span class="animate" style="--i:6;"></span>
    </div>
    <div class="home-imgHover"></div>
    <span class="animate home-img" style="--i:7;"></span>
  </section> -->