<!-- education section design -->
<section class="education" id="education">
    <h2 class="heading">My <span>Journey</span> <span class="animate scroll" style="--i:1;"></span></h2>


    <div class="education-row">
        <!-- Education details div -->
        <div class="education-column">
            <h3 class="title">Education <span class="animate scroll" style="--i:2;"></span></h3>

            <div class="education-box">
                <div class="education-content">
                    <div class="content">
                        <div class="year"><i class="bx bxs-calender">2018-2019</i></div>
                        <h3>SSC-State Board</h3>
                        <p>I have completed my SSC board examination from the Maharashtra State Board of Pune
                            University and scored 86.20% with distinction.</p>
                    </div>
                </div>

                <div class="education-content">
                    <div class="content">
                        <div class="year"><i class="bx bxs-calender">2020-2021</i></div>
                        <h3>HSC-State Board</h3>
                        <p>I have completed my HSC board examination from the Maharashtra State Board of Pune
                            University in Science with all four subjects PCMB and scored 86.17% with distinction.
                        </p>
                    </div>
                </div>

                <div class="education-content">
                    <div class="content">
                        <div class="year"><i class="bx bxs-calender">2021-2025</i></div>
                        <h3>Bachelors Degree - SPPU</h3>
                        <p>I am pursuing my BE from SPPU university in Computer Engineering stream at SITL Pune and
                            currently in my 3rd year with a CGPA of 6.30. I am expected to complete my course in
                            June 2025.</p>
                    </div>
                </div>

                <span class="animate scroll" style="--i:3;"></span>
            </div>
        </div>

        <!-- Experience details div -->
        <div class="education-column">
            <h3 class="title">Experience <span class="animate scroll" style="--i:5;"></span></h3>

            <div class="education-box">
                <div class="education-content">
                    <div class="content">
                        <div class="year"><i class="bx bxs-calender">2021-2022</i></div>
                        <h3>Java Intern - Newvision Software pvt ltd</h3>
                        <p>
                            Responsible for designing, implementing, and maintaining Java-based software and
                            applications, contributing to all stages of the software development lifecycle.
                        </p>
                    </div>
                </div>

                <div class="education-content">
                    <div class="content">
                        <div class="year"><i class="bx bxs-calender">2022-2023</i></div>
                        <h3>Angular Developer - CodeCompete.co.in</h3>
                        <p>
                            Acquired hands-on experience in developing dynamic and interactive web applications
                            using technologies such as MongoDB, ExpressJS, AngularJS, and NodeJS. </p>
                    </div>
                </div>

                <div class="education-content">
                    <div class="content">
                        <div class="year"><i class="bx bxs-calender">2023-Present</i></div>
                        <h3>Angular Developer trainee - SASC</h3>
                        <p>
                            Hands on Workshops, hackathons and talks by world-reknowned Authors and Teachers take
                            place throughout the year which cover everything you could possibly imagine, from web
                            development to future of computing.
                        </p>
                    </div>
                </div>

                <span class="animate scroll" style="--i:6;"></span>
            </div>
        </div>
    </div>
</section>

<!-- <section class="education" id="education">
    <h2 class="heading">My <span>Journey</span> <span class="animate scroll" style="--i:1"></span></h2>

    <div class="education-row">
        <div class="education-column" *ngFor="let education of educationData">
            <h3 class="title">Education<span class="animate scroll" style="--i:2"></span></h3>
            <div class="education-box">
                <div class="education-content">
                    <div class="content">
                        <div class="year"><i class="bx bxs-calender"></i>
                            {{education.year}}
                        </div>
                        <h3>{{education.title}}</h3>
                        <p>{{education.description}}</p>
                    </div>
                </div>
                <span class="animate scroll" style="--i:3;"></span>
            </div>
        </div>

        <div class="education-column" *ngFor="let experience of experienceData">
            <h3 class="title">Experience<span class="animate-scroll" style="--i:5"></span></h3>
            <div class="education-box">
                <div class="education-content">
                    <div class="content">
                        <div class="year"><i class="bx bxs-calender"></i>
                            {{experience.year}}
                        </div>
                        <h3>{{experience.company}}</h3>
                        <p>{{experience.description}</p>
                    </div>
                </div>
                <span class="animate scroll" style="--i:6;"></span>
            </div>
        </div>
    </div>
</section> -->